.root {
    -fx-padding: 30; /* Add a small padding around the window */
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 20;
}

.cellbutton {
    -fx-padding: 20;
    -fx-min-width: 75; 
    -fx-min-height: 75; 
}

HBox {
    -fx-spacing: 10;
    -fx-alignment: center;
}